body{
    background-image: 
    url("https://www.deccanherald.com/sites/dh/files/article_images/2020/05/19/file70kc18dlox411gg69752-1188005359-1560449918.jpg");
    background-size: cover;
}
center {
    color:red;
}